In [16]:
import pandas as get

In [17]:
df=get.read_excel("Sample2.xlsx")

In [18]:
df

      Days  Apple  Banana  Rice  Biscuits  Chips
0    Day 1     37      42    46        34     43
1    Day 2     48      36    28        30     34
2    Day 3     37      30    50        26     39
3    Day 4     26      25    27        33     35
4    Day 5     50       0    45        39     29
5    Day 6     33      50    25        39     34
6    Day 7     25       0    35        45      0
7    Day 8     35      47    39        47     47
8    Day 9     27      34    25        41      0
9   Day 10     44      28    26         0      0
10  Day 11     27      42    45        50     46
11  Day 12     30       0     0        43     43
12  Day 13     42      27    44        29     43
13  Day 14      0      32    33        31     39
14  Day 15     44       0    41        39     25
15  Day 16     39      41    37        32      0
16  Day 17      0      39    50        42     25
17  Day 18     43      30    47        31     28
18  Day 19     48      38    34        41     41
19  Day 20     38      47    33        50     28

In [14]:
new_df=df.dropna()

In [15]:
new_df

      Days  Apple  Banana  Rice  Biscuits  Chips
0    Day 1     37      42    46        34     43
1    Day 2     48      36    28        30     34
2    Day 3     37      30    50        26     39
3    Day 4     26      25    27        33     35
4    Day 5     50       0    45        39     29
5    Day 6     33      50    25        39     34
6    Day 7     25       0    35        45      0
7    Day 8     35      47    39        47     47
8    Day 9     27      34    25        41      0
9   Day 10     44      28    26         0      0
10  Day 11     27      42    45        50     46
11  Day 12     30       0     0        43     43
12  Day 13     42      27    44        29     43
13  Day 14      0      32    33        31     39
14  Day 15     44       0    41        39     25
15  Day 16     39      41    37        32      0
16  Day 17      0      39    50        42     25
17  Day 18     43      30    47        31     28
18  Day 19     48      38    34        41     41
19  Day 20     38      47    33        50     28